@import "tailwindcss";
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared items */
.btn-primary{
    background: linear-gradient(45deg, #F7E93F,#FB09B4, #9100F8); 
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 30px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: transform 0.3s linear .2s, box-shadow 0.3s linear;
}
.btn-primary:hover{
    transform: scale(1.06); 
}
/* nav bar style  */
.navbar{
    color: white;
}
.wave{
     background: linear-gradient(30deg,#f8ef42, #f8ef42, #FB09B4,  #FB09B4, #FB09B4, #9c22ff, #9c22ff); /* Gradient color */
            -webkit-background-clip: text; 
            color: transparent;
}
